:root {
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #0A3871;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-primaria);
    height: 100vh;
}

/* .cabecalho {
    display: flex;
    margin: 2% 4%;
}

.cabecalho__figuras {
    width: 5%;
}

.cabecalho__figuras__logo {
    width: 35%;
} */

.conteudo {
    display: flex;
    justify-content: space-between;
    margin: 2% 4%;
    height: 90%;
    gap: 80px;
}

.conteudo__figuras {
    height: 3%;
    width: 3%;
}

.conteudo__figuras__logo {
    width: 60%;
}

.conteudo__criptografia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7%;
    width: 60%;
    height: auto;
}

.conteudo__criptografia__caixa {
    background-color: var(--cor-primaria);
    border: 0;
    color: var(--cor-secundaria);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}

.conteudo__criptografia__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conteudo__criptografia__info__texto {
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
    align-items: center;
    color: #495057;
}

.conteudo__criptografia__info__imagem {
    width: 1rem;
}

.conteudo__criptografia__info__button {
    display: flex;
    gap: 24px;
}

.conteudo__criptografia__info__button__crip {
    background-color: var(--cor-secundaria);
    color: white;
    width: 320px;
    height: 67px;
    border: none;
    border-radius: 24px;
}

.conteudo__criptografia__info__button__decrip {
    background-color: #D8DFE8;
    color: var(--cor-secundaria);
    width: 320px;
    height: 67px;
    border-width: 1px;
    border-radius: 24px;
    border-color: var(--cor-secundaria);
}

.conteudo__mostra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    box-shadow: 2px 2px 10px 0px rgba(0.84, 0.87, 0.9, 0.1);
    background-color: #FFFFFF;
    width: 25%;
    height: 100%;
    border-radius: 30px;
}

.conteudo__mostra__imagem {
    width: 80%;
}

.conteudo__mostra__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 80%;
    gap: 1rem;
}

.conteudo__mostra__info__subtitulo {
    color: #343A40;
    font-size: 1.5rem;
    font-weight: bold;
}

.conteudo__mostra__info__texto {
    display: flex;
    justify-content: center;
    color: #495057;
    font-size: 1rem;
}